@model IEnumerable<CommunityGardenProj.Models.Garden>

@{
    ViewData["Title"] = "AllGardens";
}

<h1>All Gardens</h1>

<p>
    <a asp-action="CreateGarden">Create New Garden</a> |
    <a asp-action="SearchByCriteria">Search Gardens</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.gardenType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.streetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zip)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.gardenType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.streetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
           
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.gardenId">Edit</a> |*@
                <a asp-action="GardenDetails" asp-route-id="@item.gardenId">Details</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
