@model CommunityGardenProj.Models.GardenerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gardener</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gardener.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gardener.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gardener.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gardener.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gardener.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gardener.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gardener.GardenInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gardener.GardenInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Gardener.GardenerId">Edit Your Information</a> |
    <a asp-action="EditAddress" asp-route-id="@Model.Gardener.AddressId">Edit Your Address</a> |
    <a asp-action="Index">Back to List</a>
</div>
