@model CommunityGardenProj.Models.QuestionViewModel

@{
    ViewData["Title"] = "QuestionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question Details</h1>

<p>
    <a asp-action="AnswerQuestion" asp-route-id="@Model.Discussion.Id">Answer This question</a>
</p>
<div>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Discussion.Title)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Discussion.AskQuestion)
    </dt>
</div>
<br>
<br>
<table class="table">
    <thead>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].QuestionAnswer)
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
@foreach (var item in Model.Answers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionAnswer)
            </td>         
        </tr>
}
    </tbody>
</table>
